/*ブロックエディターにカラーパレットを適用*/


.has-skyblue-background-color {
     background-color: #00A1C6;
}

.has-skyblue-color {
     color: #00A1C6;
}

.has-light-skyblue-background-color {
     background-color: #ECF5F7;
}

.has-light-skyblue-color {
     color: #ECF5F7;
}

.has-light-gray-background-color {
     background-color: #F7F6F5;
}

.has-light-gray-color {
     color: #F7F6F5;
}

.has-gray-background-color {
     background-color: #767268;
}

.has-gray-color {
     color: #767268;
}

.has-dark-gray-background-color {
     background-color: #43413B;
}

.has-dark-gray-color {
     color: #43413B;
}