@use '../global/responsive'as *;
@use '../global/variable'as *;


.footer {
     border-top: 70px solid $footer-border-color;

     &__widgets {
          padding-top: 1.875rem;

          @include pc {
               padding-top: 3.75rem;
               padding-bottom: 1.875rem;
          }
     }

     &__container {
          max-width: 75rem;
          width: 100%;
          padding: 0 1rem;
          margin: 0 auto;
     }

     &__widget-area {
          display: flex;
          flex-wrap: wrap;
     }

     &__widget {
          width: 100%;

          @include tab {
               padding: 0 0.8rem;
               max-width: 33.33333%;
          }
     }
}


.content-footer {
     margin: 2.8125rem 0;

     &__tags {
          margin: 1.875rem 0;

          li {
               display: inline-block;
               margin-right: 0.5rem;
          }

          a {
               display: inline-block;
               margin-bottom: 1rem;
               padding: .5rem;
               color: $footer-border-color;
               border: 1px solid $footer-border-color;
               border-radius: 1rem;
          }
     }
}




.footer-Copyright {
     text-align: center;
     padding-top: 15px;
     padding-bottom: 30px;
}