@use '../global/responsive'as *;
@use '../global/variable'as *;


.shop-information {
     padding: 5.625rem 0;

     &__detail {
          padding-top: 2.8125rem;
          line-height: 1.7;
          text-align: center;
          font-size: 1rem;

          .shop-information-list {
               margin-bottom: 0.5rem;

               @include tab {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

               }
          }
     }

     dt {
          font-weight: normal;
          margin-right: 0.5rem;
     }
}