$header-nav-color: #F7F6F5;
$header-border-color: #D5D1CA;
$header-item-color: #43413B;
$footer-border-color: #00a1c6;
$widget-color: #3b4043;
$content-meta-color: #767268;
$pagination-color: #edeceb;